node_modules/
/node_modules

package-lock.json
/package-locl.json


/.env
.env.local
/.env.development
/.env.development.local
/.env.test
/.env.test.local
/.env.production
/.env.production.local
.DS_Store
/.vscode
/.idea
/.history   
